html,
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

html,
body,
#root {
  display: flex;
  width: 100%;
  height: 100%;
}

/* PUCOUI */
.w-100 {
  width: 100%;
}

.is-list-pointer .list-item {
  cursor: pointer;
}

/* OTHERS */
.page-base {
  display: flex;
  width: 100%;
  align-items: center !important;
  justify-content: center !important;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  height: 100%;
  /* background-color: red; */
}

.page-content {
  flex: 1 1 0;
  /* background-color: blue; */
  height: 100%;
  position: relative;
}

.page-container {
  width: 100%;
  max-width: 1200px;
}
